body {
    max-width: 375px;
    color: white;
    background-image: url("./assets/images/background-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inconsolata", monospace;
}

label {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 10px;
}

.logo-inicio>img {
    width: 155px;
}

.container-avatar {
    margin: 0 0.6rem;
}

.container-upload {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 40px;
    border-radius: 0.7rem;
    border: 2px dashed rgba(255, 255, 255, 0.473);
    background-color: hsla(245, 19%, 35%, 0.292);
}

.container-upload:hover {
    background-color: hsla(245, 19%, 35%, 0.679);
}

.container-upload>p {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.485);
}


.img-upload {
    display: grid;
    justify-content: center;
    align-items: center;

}

.img-upload>img {
    padding: 0.5rem;
    background-color: rgba(243, 230, 215, 0.16);
    border-radius: 0.5rem;
    border: 0.3px solid rgba(183, 163, 163, 0.218);
    object-fit: cover;
}


.container-upload>input {
    display: none;
}



.container-error {
    display: grid;
    grid-template-columns: 23px 1fr;
    grid-template-rows: 40px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

p {
    font-size: 16px;
}

.control-error {
    margin: 0;
    display: inline-block;
    font-size: xx-small;
    color: rgba(255, 255, 255, 0.434);
}

h1 {
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
}

.container p {
    margin: 8px 0 5px 0;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.647);
}

.container-form-user {
    margin: 0 0.6rem;
}

.container-form-user label {
    display: grid;
}

.container-form-user input {
    margin-right: 0 0.6rem;
    height: 50px;
    border-radius: 0.7rem;
    padding: 0 1rem;
    color: white;
    background-color: rgba(139, 174, 174, 0.178);
    border: 0.3px solid rgba(255, 255, 255, 0.474);
}

.container-form-user input:hover {
    background-color: hsla(245, 19%, 35%, 0.679);
}

button {
    display: grid;
    margin-top: 24px;
    grid-template-rows: 50px;
    align-items: center;
    border-radius: 0.7rem;
    font-size: 18px;
    color: black;
    background-color: hsl(7, 88%, 67%);
    border: 0 solid rgba(255, 255, 255, 0);
}

button:hover {
    background-color: hsl(7, 71%, 60%);
    border-bottom: 0.3rem solid hsl(7, 88%, 67%);
    cursor: pointer;
}

.container-ticket {
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-rows: 0;
}

.container-info-ticket img {
    max-width: 100%;
    max-height: 145px;
}

.container-ticket-info-avatar {
    width: 70%;
    padding: 1rem 1rem;
}

.container-ticket-info-avatar .user-date {
    font-size: x-small;
    text-align: center;
    color: rgba(255, 255, 255, 0.607);
}

.container-logo-date>img {
    width: 155px;
    margin-bottom: 0;
}

.container-logo-date>p {
    margin-top: 0;
    padding-bottom: 1.3rem;
}

.container-info-logo-avatar {
    display: grid;
    grid-template-columns: 45px 100px;
    gap: 0 1rem;
    grid-template-areas:
        "   user-logo     user-name  "
        "   user-logo    user-email   "
    ;
}

.user-logo {
    margin: 0;
    width: 45px;
    border-radius: 0.5rem;
    grid-area: user-logo;
}

.user-name {
    margin-top: 0;
    margin-bottom: 0;
    grid-area: user-name;
}

.user-email {
    margin: 0;
    grid-area: user-email;
}

.modify-upload {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.modify-upload button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.284);
    color: rgba(255, 255, 255, 0.786);
    font-size: small;
}

h1 #ticketTitleName {
    font-size: 27px;
    display: inline-block;
    background-clip: text;
    background: linear-gradient(to right, hsl(7, 88%, 67%), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#recived-email{
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

#ticketTitleEmail{
    display: inline-block;
    color: hsl(7, 88%, 67%);
}

#pagina-tikets{
    display: none;
}

